body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 100%;
  font-weight: 300;
  color: #ffffff;
  background: black;
}
@-webkit-keyframes carousel {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes carousel {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.carousel {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.carousel .item {
  width: 100%;
  height: 100%;
  background: transparent no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  -webkit-animation-name: carousel;
          animation-name: carousel;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
}
.carousel .item.item1 {
  background-image: url(../images/background-4.png);
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}
.carousel .item.item2 {
  background-image: url(../images/background-3.png);
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}
.carousel .item.item3 {
  background-image: url(../images/background-2.png);
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
.carousel .item.item4 {
  background-image: url(../images/background-1.png);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
}
nav a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
header {
  position: relative;
  height: 100vh;
  text-align: center;
}
header h1 {
  position: relative;
  display: inline-block;
  top: 50%;
}
header h1 img {
  width: 400px;
}
header h1 strong {
  display: block;
  text-align: right;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 0.15rem;
}
aside {
  position: fixed;
  top: 0;
  width: 250px;
  height: 100vh;
  text-align: right;
  padding-top: 95px;
}
aside .home img {
  width: 35px;
}
aside ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
aside ul li a {
  color: #ffffff;
}
section {
  height: 100vh;
  padding: 0 0 0 300px;
}
section h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 2.2rem;
  margin: 155px 0 20px 0;
  display: inline-block;
}
section .section-content {
  padding-left: 50px;
}
section ul.stuff-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
section ul.stuff-list > li {
  display: inline-block;
}
section ul.stuff-list .pitch {
  font-size: 0.7rem;
}
section.page-bio p {
  padding-right: 50px;
  max-width: 400px;
}
section.page-videos ul.videos .video {
  max-width: 335px;
}
section.page-music li.sound {
  width: 30%;
}
[data-parallax] {
  overflow: hidden;
}
[data-parallax] [data-parallax-scroll] {
  position: relative;
  transition-property: top;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}
.debug section,
.debug header,
.debug .carousel {
  border: 1px solid red;
  box-sizing: border-box;
}
