body {
  background: url(../images/background-1.png) no-repeat center center fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 100%;
  font-weight: 300;
  color: #ffffff;
}
nav a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
header {
  position: relative;
  height: 100vh;
  text-align: center;
}
header h1 {
  position: relative;
  display: inline-block;
  top: 50%;
}
header h1 img {
  width: 400px;
}
header h1 strong {
  display: block;
  text-align: right;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 0.15rem;
}
aside {
  position: fixed;
  top: 0;
  width: 250px;
  height: 100vh;
  text-align: right;
  padding-top: 95px;
}
aside .home img {
  width: 35px;
}
aside ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
aside ul li a {
  color: #ffffff;
}
section {
  height: 100vh;
  padding: 0 0 0 300px;
}
section h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 2.2rem;
  margin: 155px 0 20px 0;
  display: inline-block;
}
section .section-content {
  padding-left: 50px;
}
section ul.stuff-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
section.page-bio p {
  padding-right: 50px;
  max-width: 400px;
}
section.page-videos ul.videos .video {
  max-width: 335px;
}
section.page-videos ul.videos .pitch {
  font-size: 0.7rem;
}
[data-parallax] {
  overflow: hidden;
}
[data-parallax] [data-parallax-scroll] {
  position: relative;
}
.debug section,
.debug header {
  border: 1px solid red;
  box-sizing: border-box;
}
